<div class="article-container">
  {% for article in blog.articles %}
  <div class="article">
    <div class="article-image">
      <img src="{{ article.image | img_url: 'medium' }}" alt="{{ article.title }}">
    </div>
    <div class="article-content">
     <a href="{{ article.url }}">
      <h2>{{ article.title }}</h2> 
      </a>
      <p>By: {{ article.author }}</p>
      <div>{{ article.content }}</div>
      <div>{{ article.excerpt }}</div>
    </div>
  </div>
  {% endfor %}
</div>
  